/*Importation de la police d'écriture style 'livre'*/
@font-face{
  font-family: Gentium Book Basic;
  src: url(../Tools/GentiumBookBasic-Regular.ttf);
}

/*Application de la nouvelle police à tout le document*/
body{
  font-family: Gentium Book Basic;
}

/*Affichage du sommaire de la page d'accueil uniquement sur écrans de petites tailles grâce aux media queries -
désactivation suite bug d'affichage ou de traitement par heroku*/
@media (max-width: 744px){
  .table-content{
    display: block;
  }
}
@media (min-width: 744px){
  .table-content{
    display: none;
  }
}

/*Retirer la couleur bleue de l'icone 'retour haut de page' devenu bleue à cause du lien de l'ancre*/
.logo{
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(100%) contrast(104%);
}

.avertissement{
  font-size: 0.8em;
}

.texte_explicatif{
  text-align: justify;
  text-indent: 30px;
}

/*Ces quelques lignes de CSS permettent l'affichage des titres de sous-parties de la page d'accueil sur l'image de fond
de façon responsive*/
.conteneur_image_titre{
  position: relative;
  height: 200px;
  z-index: 1;
}
.image_accueil{
  position: absolute;
  min-height: 200px;
  opacity: 0.45;
  top : 0;
  left: 0;
}
.titre-conteneur{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.titre{
  height: 200px;
  width: 100%;
}

/*Couleurs de remplissage et de contour des étoiles de note des pages de critique*/
.pleine{
  stroke: grey;
  fill: yellow;
}
.vide{
  stroke: grey;
  fill: grey;
}

.image_livre{
  width: 100%;
  max-width: 200px;
}

/*Corriger l'alignement des icones dans les boutons*/
.icone-bouton{
  vertical-align: text-top;
}

/*Affichage du lieu de rencontre hebdomadaire sur la page 'nos prochains RDV' uniquement sur écrans de petites et moyennes tailles
grâce aux media queries*/
@media (max-width: 768px) {
  .bouton-localiser-local{
    display: inline-flex;
  }
  .iframe-maps-local{
    display: none;
  }
}
@media (min-width: 768px) {
  .bouton-localiser-local{
    display: none;
  }
  .iframe-maps-local{
    display: flex;
  }
}

/*Affichage des lieux de rencontre nationaux sur la page 'nos prochains RDV' uniquement sur écrans de petites tailles 
grâce aux media queries*/
@media (max-width: 991px) {
  .bouton-localiser{
    display: inline-flex;
  }
  .iframe-maps{
    display: none;
  }
}
@media (min-width: 992px) {
  .bouton-localiser{
    display: none;
  }
  .iframe-maps{
    display: flex;
  }
}

/*Affichage du planning sous forme de tableau sur écran large mais sous forme de liste non-ordonné sans Bootstrap sur 
petits écrans*/
@media (max-width: 562px) {
  .liste-planning{
    display: flex;
  }
  .tableau-planning{
    display: none;
  }
}
@media (min-width: 562px) {
  .liste-planning{
    display: none;
  }
  .tableau-planning{
    display: flex;
  }
}